@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
  background: #111;
  background: url('../img/set.jpg') center fixed no-repeat;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

.container.main{
  padding: 0;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2),
              0px 0px 4px 4px rgba(0,0,0,0.1);
}

.bg-black{
  background:#000;
  color:#fff;
}

.card {
  border: none;
}

#main-header{

  .name-and-links {
    background: url('../img/keyboard.jpg') center no-repeat;
    background-size: cover;
    .profile-name {
      letter-spacing: 0.15em;
      font-weight: 300;
      font-size: 3.2em;
    }
  }

  .profile-title {
    letter-spacing: 0.15em; 
  }

  .links {
    a {
      .fa {
        font-size: 1.5em;
        color: white;
        transform: scale(1);
        transition: 0.2s;
        transition-delay: 0.1s;
        text-shadow: 0px 2px 3px rgba(0,0,0,0.8);
      }
      
    }
    a:hover .fa{
      color: white;
      transform: scale(3);
      transition: 0.1s;
      transition-delay: 0s;
    }

  }
  .profile-pic {
    opacity: 0.9;
    min-height: 300px;
    background: url('../img/me2.png') center no-repeat;
    background-size: cover;
    // transition: 0.2s;
  }

  .profile-pic:hover {
    opacity: 1;
    cursor: pointer;
    background-image: url('../img/hover2.jpg');
    // background-size: cover;
  }

  .profile-pic:active {
    opacity: 1;
    background: url('../img/active2.jpg') center no-repeat;
    background-size: cover;
  }

  .port-item{
    width:30%;
    .fa{
      position: relative;
      top: 0;
      font-size:2em;
      transition: .2s;
    }
    transition: 0.2s;
  }

  .port-item:hover{
    cursor:pointer;
    .fa{
      transform: scale(1.5);
      top: -10px;
      text-shadow: 0px 5px 3px rgba(0,0,0,0.5);
    }
  }

  .port-item:active{
    transform: scale(0.9);
    cursor:pointer;
  }
}

.profile-text {
  letter-spacing: 0.05em;
}

.date-title {
  font-size: 0.4em;
}

.small-date, .small-date-right {
  font-size: 0.6em;
  font-weight: 100;
}

.small-date-right {
  position:relative;
  float:right;
  top: 8px;
  font-weight: 400;
  color: rgba(0,0,0,0.50);
}


/******************************* HOME ****************************/

.card {
  .asicon {
    position: relative;
    margin-right: 5px;
    width: 25px;
    top:-3px;
    left:-2px;
  }
  .asicon-sm {
    position: relative;
    margin-right: 5px;
    width: 15px;
    top:-1px;
    left:-2px;
  }

  .bg-orange {
    background-color: orange;
  }

  .input-group-addon {
    width: 50px;
    .fa {
      display: inline-block;
      margin: 0 auto;
    }
  }

  h3 {
    animation: 1s fadeIn ease-out forwards;
  }

  .skills {
    display: block;
    height: 100px;
    margin: 20px auto;
  }

  .skill-section {
    animation: 0.5s slideInFromBot ease-out forwards;
  }

  .skill-desc {
    animation: 1s fadeIn ease-out forwards;
    font-size: 1.2em;
    margin: 30px auto;
    padding-bottom: 40px;
    max-width: 500px; 
    border-bottom: 2px solid #ddd;
  }

  ul {
    list-style-type: square;
  }

  .container-front .bg-orange, .container-back .bg-orange {
    background: linear-gradient(150deg, #0F6EA8 0%, #0D55A1 100%);
    opacity: 0.6;
  }

  .skill-list {
    .col-md-6 {
      padding: 0 30px;
    }

    ul {
      line-height: 1.5em;
      border-radius: 10px;
      list-style-type: square;
      list-style-position: inside;
    }

    ul.front {
      padding: 10px;
      border: 2px solid rgb(30, 163, 238);
      background: rgba(30, 163, 238, 0.05);
    }

    ul.back {
      padding: 10px;
      border: 2px solid rgb(255, 165, 0);
      background: rgba(255,165,0,0.05);
    }
  }
}

.skill-summary {
  background-color: #033658;
}

/******************************* RESUME ****************************/

#resume {
  .card {
    padding-left: 50px;
    padding-right: 50px;
  }


  .card-deck .card {
    padding: 0;
    margin: 0 10px;
    border: 2px solid #0D55A1;
    border-radius: 5px;

    .card-header, .card-footer {
      color: white;
      text-align: center;
      background: #0D55A1;
      border: none;
      padding: 5px 10px; 
      small.text-muted {
        color: white !important;
      }
    }

    .card-footer {
      text-align: right;
    }
    .card-title {
      font-size: 1.5em; 
    }
    .card-body {
      font-size: 0.9em;
    }
  }

  .card-deck .card.orange {
    border: 2px solid orange;

    .card-header, .card-footer {
      border: orange;
      background: orange;
    }
  }

  .legend-jobs {

    li {
      display: inline;
      margin-left: 10px; 
      list-style-type: none;
      font-size: 0.8em;
    }


    .fa {
      position: relative;
      display: inline-block;
      margin-right: 3px;
      top: 2px;
      font-size: 1.5em;
    }

    .blue {
      color: #0D55A1; 
    }

    .orange {
      color: orange;
    }
  }

  .edu {
    color: #f4f4f4;
    background: #061A40;
    padding: 20px;
    border-radius: 5px;
    animation: 1s fadeIn;
  }

  ul.ul-edu{
    border-bottom: 1px solid white; 
    padding-bottom: 15px;
    list-style-type: square;
  }

  li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    transform: translateX(0);
    transition: 0.2s ease-in-out;
  }

  li a:hover {
    color: rgb(31, 194, 36);
    transform: translateX(5%);
  }

  .edu-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      transition: 0.1s;
    }
    a:hover {
      transform: scale(1.1);
    }
  }
  .img-edu {
    width: 80%;
  }
  a.github {
    color: lightblue;
  }



  #whatelse {
    background: linear-gradient(to right, #005c97, #363795);
    h2, h4 {
      font-weight: 100;
      letter-spacing: 0.1em;
    }
    h2 {
      font-size: 3em;
    }

    p.description {
      max-width: 500px;
      margin: 10px auto;
    }

    .hide {
      display: none;
    }
    .show {
      display: block;
    }
  
    #map {
      margin: 20px auto;
      width: 100%;
      height: 600px;
      border-radius: 10px;
    }

    .showmap {
      cursor: pointer;
    }
  
    .showmap:active {
      transform: scale(.99);
    }

    ul.sports {
      list-style-type: none;
      padding-left: 0;
    }

    .books li {
      color: lightblue;

      em {
        color: white;
      }
    }

  }

}

/******************************* PROJECTS ****************************/
#work {
  .bg-warning{
    color: white;
  }

  .projects {
    color: white;
    background: linear-gradient(150deg, rgb(28, 81, 122) 0%,rgb(9, 9, 37) 50%, rgb(24, 54, 61) 100%);
    // background-color: rgb(10, 10, 37);

    .card {
      margin: 20px;
      animation: 2s fadeIn ease-out forwards;
      border: none;
      background: #222;
      box-shadow: none;


      .card-img-on-hover {
        background-size: cover;
      }
      img {
        opacity: 1;
        transition: 0.1s ease-in-out;
      }
      transition: 0.1s ease-in-out;
    }

    .card:hover {
      transform: scale(1.01);
      img {
        opacity: 0;
      }
      box-shadow: 0 0 15px 3px rgb(100, 250, 255);
    }

    .card-body {
      h4 {
        font-weight: 200;
      }
      padding: 20px 20px 0;
    }
    .project-desc {
      border-bottom: 1px solid white; 
      padding-bottom: 10px;
    }

    .card-footer {
      background-color: #161616;
      a {
        color: white;
      }
    }
  }
}
/****************************** CONTACT ************************************/

.g-recaptcha {
  margin: 15px 0;
}
/****************************** MEDIA QUERIES ******************************/

@media(min-width:1199px){
  .port-item{
    padding:3em !important;
  }
}

@media(max-width:480px){
  #main-header {
    .profile-pic {
      display: none;
    }
    .p-5.bg-dark.text-white.name-and-links {
      padding: 20px 10px !important;
      .profile-name {
        font-size: 1.6em;
      }
    }

    .port-item {
      font-size: 0.7em;
    }
  }

  #resume {
    h3 {
      text-align: center;
    }
    .card.education {
      padding: 30px; 
    }
    .card.job{
      padding: 5px;
    }

    .card-deck {
      .card {
        margin-bottom: 20px;
      }
    }
  }
}

/****************************** ANIMATIONS ******************************/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* ANIMATIONS */
@keyframes slideInFromBot {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}
